.crossword{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 280px 50px;
  grid-row-gap: 10px;

  @media screen and (min-width: 600px){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 50px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}
.cross__question{
  grid-area: ~"1 / 1 / 2 / 5";
  @media screen and (min-width: 600px){
    grid-area: ~"1 / 1 / 3 / 2";
  }
}
.cross__word{
  grid-area: ~"2 / 1 / 3 / 5";
  @media screen and (min-width: 600px){
    grid-area: ~"1 / 2 / 2 / 3";
  }
}
.cross__button{
  grid-area: ~"3 / 1 / 4 / 5";
  @media screen and (min-width: 600px){
    grid-area: ~"2 / 2 / 3 / 3";
  }
}

// ======== //

.cross__question{
  width: calc(~"300px + 200 * ((100vw - 320px) / 880)");
  height: 100%;
  & span{}
}

// ======== //

.cross__word{
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(9, 1fr);

  width: 220px;
  height: 180px;

  color: #282828;

  @media screen and (min-width: 600px){
    width: 330px;
    height: 270px;
  }
}
.word1 { grid-area: ~"2 / 2 / 7 / 3"; }
.word2 { grid-area: ~"4 / 5 / 5 / 12"; }
.word3 { grid-area: ~"3 / 10 / 10 / 11"; }
.word4 { grid-area: ~"3 / 8 / 10 / 9"; }
.word5 { grid-area: ~"1 / 6 / 5 / 7"; }
.word6 { grid-area: ~"6 / 1 / 7 / 9"; }
.word7 { grid-area: ~"1 / 6 / 2 / 11"; }
.horizon{
  display: flex;
}
.vertical{
  display: flex;
  flex-direction: column;
}
.cross__input{
  width: 20px;
  height: 20px;

  background-color: white;
  border-radius: 50%;

  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 600px){
    width: 30px;
    height: 30px;

    font-size: 24px;
    line-height: 30px;
  }
}

// ======== //

.textCorrect{
  color: green;
}
.textWrong{
  color: red;
}

